.description {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left {
    text-align: right;
}
.vl {
    border-left: 2px dotted black;
    height: 290px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-right: -3px;
    top: 0;
  }