@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.container-partner {
    background-color: grey;
}
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
}