@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.container-partner {
    background-color: lightgray;
}
img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
.title {
    text-align: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .title {
        font-size: 40px;
    }
}
@media (max-width: 499px) {
    .title {
        font-size: 25px;
        margin-bottom: 18px;
    }
}
@media (max-width: 414px) {
    .title{
        font-size: 20px;
    }
}
